extends layout

block content
  h1= title

  form(method="POST" action="/new")    
    div.form-group
        label(for="messageText") Message:  
        input#name.form-control(type="text", placeholder="Message" name="messageText" value="")

    div.form-group
        label(for="messageUser") User Name: 
        input#name.form-control(type="text", placeholder="User Name" name="messageName" value="")

    button(type="submit") Submit

    if errors 
        ul 
            for error in errors
                li!= error.msg
